<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div id="map"></div>

        <div class="sidebar">
            <h5>Tile Downloader</h5>
            
            <a href="{{url_for('view')}}" target="_blank"> <button style="background-color: rgb(224, 178, 118);color: #333;"> View downloaded tiles</button> </a>
                <hr>
                <label>Directory Name
                    <input type="text" id="directory" name="directory" value =" {{directory}}" required  autocomplete="off" disabled>

                </label>
                <label>Zoom Range</label>
                <input type="number" name="zoom_start" id="zoom_start" value={{zoom_s}}>
                <input type="number" name="zoom_end" id="zoom_end" value={{zoom_e}}>
                <button type="submit" name="download" id="download" onclick="download_button()"><i class="fa fa-download"></i>Download Tiles</button>
                <div id="container" style="text-align: center;">
                    <div class="overlay">
                        <p class="message"></p>
                    </div>
                    <div id="loadingSpinner" class="spinner" style="display: none;"></div>
                    <span id="remaining_tiles"></span>
                </div>

                
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        if("{{internet}}"=="False"){
            Swal.fire({
                title: "The Internet?",
                text: "That thing is still around?",
                icon: "question"
            });
        }
        else{
            var map = L.map('map').setView([22, 77] , 5);
            L.tileLayer('https://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}&s=Ga', {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);
            

            var dir = document.getElementById("directory");
            var zoom_s = document.getElementById("zoom_start");
            var max_zoom_lvl = document.getElementById("zoom_end");
            let marker;


            function updateZoomLevel() {
                var zoomLevel = map.getZoom();
                console.log("zoom:" + zoomLevel)
            }
            
            updateZoomLevel();
            map.on('zoomend', updateZoomLevel);

            function download_tiles() {
                start = document.getElementById("zoom_start").value
                end = document.getElementById("zoom_end").value
                console.log(typeof start,end)
                if(parseInt(start)<parseInt(end)){
                    document.getElementById("download").style.display = "none";
                    const spinnerElement = document.getElementById('loadingSpinner');
                    const overlayElement = document.querySelector('.overlay');
                    spinnerElement.style.display = "block";  
                    overlayElement.innerHTML += " Downloading";
                $.ajax({
                    url: '/continue',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({'value': 1,'start':start,'end':end}),
            
                    success: function(response) {
                        if (response.success) {
                            Swal.fire({
                                title: "Download Completed",
                                text: response.status,
                                icon: "success"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "{{ url_for('index')}}";
                                }
                            });
                        } else {
                            Swal.fire({
                                icon: "question",
                                title: "Are you connected?",
                                text: response.error,
                                showDenyButton: false,
                                confirmButtonText: "Home",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "{{ url_for('index')}}";                                
                                }
                            });
                        }
                    },
                    error: function(xhr, status, error) {
                        Swal.fire({
                            title: "Oops",
                            text: error,
                            showDenyButton: false,
                            confirmButtonText: "Home",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "{{ url_for('index')}}";
                            }
                        });
                    },
                });
            }
            else{
                alert("Zoom level issues")
            }
            }
            

            function download_button(){
                updateRemainingTiles();
                setInterval(updateRemainingTiles, 5000)
                download_tiles()
            }
            


            function updateRemainingTiles(){
                fetch('/remaining_tiles_cont')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('remaining_tiles').innerText =  (data.tiles_done*100/data.total_count).toFixed(2) + '%';
                });
            }

            var points = ['{{ points[0] }}', '{{ points[1] }}', '{{ points[2] }}', '{{ points[3] }}'];
            var polylinePoints = [];
            polylinePoints.push([parseFloat(points[0]), parseFloat(points[1])]);
            polylinePoints.push([parseFloat(points[0]), parseFloat(points[3])]);
            polylinePoints.push([parseFloat(points[2]), parseFloat(points[3])]);
            polylinePoints.push([parseFloat(points[2]), parseFloat(points[1])]);
            polylinePoints.push([parseFloat(points[0]), parseFloat(points[1])]);
            var polyline = L.polyline(polylinePoints, { color: 'blue' }).addTo(map);
        }


    </script>
</body>

</html>
